test/l2test/runresult.dtd

<!ELEMENT L2_TEST_RUN_REPORT
  (L2_HEADER, L2_RESULT_LISTING)>

<!ELEMENT L2_HEADER EMPTY>

<!ELEMENT L2_RESULT_LISTING EMPTY>

<!ELEMENT L2_RUN_TEST_RECORD (L2_RUN_TEST_SUCCESS|L2_RUN_TEST_FAILURE)>
  <!ELEMENT L2_RUN_TEST_SUCCESS (TEST_NAME)>
  <!ELEMENT L2_RUN_TEST_FAILURE (TEST_NAME, FILE_NAME, LINE_NUMBER, CONDITION)>
    <!ELEMENT TEST_NAME (#PCDATA)>
    <!ELEMENT FILE_NAME (#PCDATA)>
    <!ELEMENT LINE_NUMBER (#PCDATA)>
    <!ELEMENT CONDITION (#PCDATA)>


